.addProductFormContainer {
  padding: 15px;
}

/* .addProductUpperContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.createProductLabel {
  font-weight: 600;
}

.createProductMiddleContainer {
  display: flex;
  justify-content: space-between;
}

.billWrapper {
  display: flex;
  align-items: center;
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  width: 275px;
}

.productBillItem {
  margin-right: 30px;
  text-align: right;
}

.billTitle {
  font-size: 15px;
  font-weight: 600;
  color: rgb(105, 105, 105);
}

.billSpacing {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.addProductAddButton {
  margin-right: 10px;
  padding: 8px 26px;
}

.billValue {
  font-size: 15px;
  color: rgb(105, 105, 105);
}

.totalBill,
.totalValue {
  font-size: 18px;
  margin-top: 20px;
}
