.sidebarListItem {
  margin-bottom: 3px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.sidebarLink,
.sidebarLink:hover,
.sidebarLink:link {
  text-decoration: none;
  color: #555;
}
